<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
		.bord {border: solid 1px black;}
		.account-title {font-size: 25px;}
	</style>
</head>
<body>
	<div class="container-fluid">

		<div class="page-header text-center">
			<h1><span class="fa fa-cog"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-lg">Logout</a>
		</div>

		<div class="row">

			<!-- github account -->
			<div class="col-sm-4" >
				<div class="well">
					<div class='row'>
						<div class='col-xs-12 col-sm-8 account-title text-info'> github</div>
						
					<% if (user.token) { %>
						</div>
						<p>
							<strong>id</strong>: <%= user.gid %><br>
							<strong>token</strong>: <%= user.token %><br>
							<strong>display name</strong>: <%= user.displayName %><br>
							<strong>username</strong>: <%= user.username %>
						</p>
					<% }  %>
					</div>
				</div>
			</div>
			<br><br>	
		</div>
		</div>
	</div>
</body>
</html>